.icon_emotion_single {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
  background-size: 20px auto;
}

.emotion_switch {
  float: left;
  height: 28px;
  line-height: 999em;
  overflow: hidden;
  background: transparent url(https://res.wx.qq.com/mpres/en_US/htmledition/pages/modules/reply/images/icon_emotion_switch.png) no-repeat 0 0;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
}

.emotion_editor {
  position: relative;
  border: 1px solid #e4e8eb;
}

.emotion_editor .edit_area {
  padding: 14px 20px;
  outline: 0;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: #ffffff;
  height: 88px;
  overflow-y: auto;
}

.emotion_editor .edit_area img {
  vertical-align: middle;
}

.editor_toolbar {
  padding: 0 20px;
  line-height: 36px;
  background-color: #ffffff;
  border-top: 1px solid #e4e8eb;
}

.editor_toolbar:after {
  content: '\200B';
  display: block;
  height: 0;
  clear: both;
}

.editor_toolbar .weui-desktop-popover__wrp {
  display: inline-block;
  vertical-align: middle;
}

.editor_tip {
  float: right;
  color: #9a9a9a;
}

.editor_tip em {
  font-style: normal;
  margin: 0 3px;
}

.editor_tip.warn {
  color: #fa5151;
}
